<!DOCTYPE html>
<html xmlns:th=http://www.thymeLeaf.org>
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Menú Principal</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
	<div class="container-fluid mt-4">
		<div class="jumbotron" >
			<h1> Sistema Para el Control de Flota Vehícular de Loja </h1>
		</div>
	
		<a th:href="@{/gestionPersonalAdd}" class="btn btn-primary">Gestión Personal</a>
		<a th:href="@{/newVehiculo}" class="btn btn-primary">Gestión Flota Vehícular</a>
	</div>
	<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="funciones.js"></script>
</body>
</html>

